.btn{
    border: none;
    cursor: pointer;
    position: relative;
    color: white;
}
.animated-background{
    background: linear-gradient(
        to right, #00bfff,
        #1e90ff , #6495ed);
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}