.btn{
    border-color: #4e73df;
    box-shadow: 0px 0px 15px
        rgba(0, 0, 15px);
    transition: all 0.3ms ease;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 45px;
    font-weight: bold;

}

.btn:hover{
    background: #2ceae5;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px
        rgba(46, 223, 229, 0.445);
}


